@import "~materialize-css/dist/css/materialize.min.css";

.btn-login {
  margin-right: 2rem;
}

/* label focus color */
.input-field input:focus + label {
  color: #ff6d00 !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #ff6d00 !important;
  box-shadow: 0 1px 0 0#ff6d00 !important;
}

nav .brand-logo {
  padding-left: 1rem;
}

.create-link-page {
  padding-top: 2rem !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
